body{
    background-color: #FBFDD1;
}

h1{
    font-family: 'Shadows Into Light', cursive;
    font-size: 75px;
}

.description{
    width: 600px;
}

.left{
    width: 600px;
    float: left; /* moves div to the left,right. center is the same w/left? */
}

.right{
    float: left;
    margin-left: 30px;
    width: 600px;
}

