body{
    margin: 0%;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}

header img{
    width: 100%;
    height: auto;
}

.header-text {
    position: absolute;
    top: 35%;
    /* text-align: justify; doesnt work */
}



